@import "../../_globalColor";

.main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 4rem;
}
.greet-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  margin-top: 2rem;
}

.greeting-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.greeting-text-div {
  flex: 1;
}

.greeting-image-div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/1;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.greeting-text {
  font-size: 70px;
  line-height: 1.1;
  margin: 0;
  color: $textColor !important;
}

.greeting-text-p {
  font-size: 30px;
  line-height: 40px;
}

.greeting-image-div > * {
  max-width: 100%;
  height: auto;
}

.button-greeting-div {
  justify-content: center;
  display: flex;
  margin-top: 20px;
}

.download-link-button {
  text-decoration: none;
}

.wave-emoji {
  animation-duration: 1.8s;
  animation-iteration-count: infinite;
  animation-name: wave;
  display: inline-block;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(12deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(9deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .greeting-main {
    flex-direction: column;
  }
  .greeting-text-div {
    order: 2;
  }
  .greeting-image-div {
    order: 1;
    margin-bottom: 2rem;
  }
  .profile-image {
    width: 200px;
    height: 200px;
    aspect-ratio: 1/1;
  }
  .greeting-text {
    font-size: 30px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }
  .button-greeting-div {
    justify-content: center;
  }
}

@media (max-width: 320px) {
  .main {
    width: auto;
  }
}
