@import "../../_globalColor";

.card-image {
  max-width: 100%;
  height: auto;
  width: 500px;
}
.card-title {
  color: $titleColor;
  font-size: 28px;
  line-height: 32px;
  font-weight: 800;
  margin: 15px 0 0 0;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.card-subtitle {
  color: $cardSubtitle;
  font-size: 17px;
  line-height: 1.8rem;
  white-space: pre-line;
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: $lightBackground2;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid $lightBorder1;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card-light {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project-card-dark {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.25s ease;
}

.project-detail {
  text-align: center;
}

.project-card-light:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.project-card-dark:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.project-image {
  position: relative;
  height: auto;
  width: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.project-image img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem 1rem;
}

.project-card-footer span.project-tag {
  background: $buttonColor;
  color: #ffffff;
  vertical-align: middle;
  align-items: center;
  border-radius: 6px;
  display: inline-flex;
  font-size: 1rem;
  height: 2.5em;
  justify-content: center;
  white-space: nowrap;
  line-height: 1.5;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0 1.5em;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.project-card-footer span.project-tag:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .project-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .card-image {
    width: 250px;
  }
  .project-image {
    width: 250px;
    height: 150px;
  }
  .dark-mode .project-card,
  .dark-mode.project-card,
  .project-card-dark {
    background-color: #171c28 !important;
    color: #fff !important;
  }
  .dark-mode .project-card *,
  .dark-mode.project-card *,
  .project-card-dark * {
    color: #fff !important;
  }
}

.dark-mode.project-card,
.project-card-dark {
  background-color: $darkBackground !important;
  color: $textColorDark !important;
}
